.done-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f9;
  position: relative;
}

.logo {
  position: absolute;
  top: 24px;   /* arriba */
  left: 24px; /*   izquierda */
  width: 102px; /*ancho*/
  height: 28.07px ; /*alto*/
}


.done-center {
  text-align: center;
}

.done-center h1 {
  font-size: 36px;
  color: #000000;
}

.done-center p {
  margin-top: 10px;
  color: #555;
}

/* botones arriba */
.top-actions {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.profile-btn {
  background: #a97f7f;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}

.logout-btn {
  background: #ff6600;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

/* tarjeta perfil */
.profile-card {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 260px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,.15);
}
